<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Парикмахерская «Любимая»</title>
	<link rel="stylesheet" href=static\styles.css\style.css type="text/css">
</head>

<body>
	<div class="header">
		<div class="container">
			<div class="logo"><img src="static\img\Rectangle.png">
			</div>
			<div class="header-menu">
				<a href="#">ГЛАВНАЯ</a>
				<a href="#МУЖСКОЙ ЗАЛ">УСЛУГИ</a>
				<a href="#КОНТАКТЫ">КОНТАКТЫ</a>
				<a href="tel:+79870789570" , target="_blank">+7(987)-519-88-28</a>
			</div>
		</div>
		<div class="header-текст">
			<div class="container">
				<div class="c1">
					<fieldset id="lin1">
						<legend>ПАРИКМАХЕРСКАЯ</legend>
					</fieldset>
					<p id="заголовок">ЛЮБИМАЯ</p>
					<fieldset id="lin3">
						<legend>В ПЕНЗЕ</legend>
					</fieldset>
					<br><br><br><br><br>
					<a href="#ОНЛАЙН-ЗАПИСЬ" class="animated-button1">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						ЗАПИСАТЬСЯ
					</a>
				</div>
				<div class="c2">
					<fieldset id="lin2"></fieldset>
				</div>
			</div>
		</div>
		<div class="header-информация">
			<img src="static\img\location.png">
			<fieldset id="lin4"></fieldset>
			<a target="_blank" ,
				href="https://yandex.ru/maps/?um=constructor%3A108a1eca7d76545c029cfdb9c6475043fbded9d9b010ff088007edff25dd2ce2&source=constructorLink">Адрес:
				г. Пенза, ул. Ухтомского 83А</a>
			<img src="static\img\phone.png">
			<fieldset id="lin5"></fieldset>
			<a href="tel:+79870789570" , target="_blank">Телефон: +7(987)519-88-28</a>
			<br>
			<a target="_blank" , href="tel:581822">58-18-22</a>
			<img src="static\img\clock.png">
			<fieldset id="lin6"></fieldset>
			<a>Время работы: Ежедневно с 9:00 до 19:30</a>
		</div>
	</div>
	<div class="content">
		<!-- <div id="мужскойзал">мужской зал</div> -->
		<div class="мужжензал"><br><a name="МУЖСКОЙ ЗАЛ">МУЖСКОЙ ЗАЛ</a></div>
		<div class="container">
			<div class="мужскойзал-фото">
				<img id="mz" src="static\img\мужзал.jpg">
			</div>
			<div class="мужскойзал-услуги">
				<h5>УСЛУГИ:</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
		</div>
		<div class="мужжензал"><a name="ЖЕНСКИЙ ЗАЛ"><br>ЖЕНСКИЙ ЗАЛ</a></div>
		<div class="container">
			<div class="женскийзал-услуги">
				<h5>УСЛУГИ:</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>
			<div class="женскийзал-фото">
				<img id="gz" src="static\img\жензал.jpg">
			</div>
		</div>
		<div class="онлайнзапись"><a name="ОНЛАЙН-ЗАПИСЬ">ОНЛАЙН-ЗАПИСЬ</a></div>
		<div class="онлайнзапись-текст">
			<div class="фон">
				<form action="/" method="post">
					<input type="text" id="nm" name="name" placeholder="Имя" required><br>
					<input type="tel" id="tlf" name="tel" placeholder="Номер телефона" required><br>
					<button type="submit">Отправить</button>
				</form>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-контакты"><a name="КОНТАКТЫ">КОНТАКТЫ</a></div>
		<div class="container">
			<div class="footer-текст">
				<br>
				<h5>Адрес:</h5><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
					src="static\img\location.png"><a target="_blank" ,
					href="https://yandex.ru/maps/?um=constructor%3A1436d71880617a48f048d06de7f50442639dd7592d60e8634d70b57bf822c2dd&source=constructorLink">г.
					Пенза, ул. Ухтомского 83А</a><br><br>
				<h5>Время работы:</h5><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
					src="static\img\clock.png"><a>Ежедневно с 9:00 до 19:30</a><br><br><br>
				<img src="static\img\phone.png" title="Телефон"><a target="_blank" ,
					href="tel:+79870789570">+7(987)519-88-28</a>
				<a target="_blank" , href="tel:581822">58-18-22</a><br><br>
				<img src="static\img\Whatsapp.png" title="Whatsapp"><a target="_blank" ,
					href="https://api.whatsapp.com/send?phone=79875198828">+7(987)519-88-28</a><br><br>
				<img src="static\img\telegram.png" title="Telegram"><a target="_blank" ,
					href="https://t.me/">t.me/</a><br><br>

			</div>
			<div class="footer-фото">
				<script type="text/javascript" charset="utf-8" async
					src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1436d71880617a48f048d06de7f50442639dd7592d60e8634d70b57bf822c2dd&amp;width=600&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
			</div>
		</div>
	</div>
</body>

</html>